/***************************/
/*          header         */
/***************************/
header{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;   
}
#header{
    z-index: 10;
    border-bottom: 2px solid white;    
}
.container{
    height: 80px;
}
#logo{
    height: 80%;
}
#logo img{
    height: 100%;
}
nav, #logo {
    margin: auto 0;
    line-height: 300%; 
}
.nav ul{
    display: flex;
    justify-content: end;
    list-style: none;
    height: 50px; 
}
.li a{
    padding: 0 5px;
}
.nav ul li, #logo a{
    margin: auto 5px; 
}
.deco, .nav ul li a{
    text-decoration: none; 
    display: inline-block;
    color: white;
}

/***************************/
/*         footer          */
/***************************/
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-clip: ;
}
footer a{
  text-decoration: none;
  color: darkblue;
}

/***************************/
/*          main           */
/***************************/
/***************************/
/*          S.Cire         */
/***************************/
main{
    padding-top: 100px;
    
}
#ciremenu{
    height: 500px;
    padding: 30px ;
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
    background-color: thistle;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex1{
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}
.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/***************************/
/*          Produit        */
/***************************/
.produit {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 2% 4%;
    height: 300px;
    background-color: black;
    color: white;

}

/***************************/
/*    Produit 1, 2 et 3    */
/***************************/

.p123 {
    display: flex;
    flex-direction: raw;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #87CEEB;
    padding:  20px;
}
.p123 img{
    width: 100%;
    padding: 100px 0;

}
.resume{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    justify-content: space-evenly;
    width: 80%;
    margin:  30px 0;
    padding:  20px;
}
.pbg{
    color: white;
    background-color: black;
}

/***************************/
/*      Inscription         /
/***************************/

#inscription{
    background-color: chocolate;
    padding-bottom: 150px;
}

/***************************/
/*         btn              /
/***************************/
.btn{
    color: white;
    background-color: darkblue;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
}
.prod .prodp {
    margin: 30px ;
}
.btnprod{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}
/***************************/
/*         produits         /
/***************************/
h1,h2,.prod p, .prod .btnprod, .prod h3{
    text-align: center;
    margin:0 20% ;
}
.prod img{
    margin:0 30% ;
    width: 50%;
}

/*************************************/
/*      respansive tab & phone        /
/*************************************/

@media only screen and (max-width: 699px) {
    .p123 {
        flex-wrap: wrap;
    }
    .resume{
        width: unset;
    }
}
